<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cst2335.smartenvironment">

    <uses-permission android:name="android.permission.INTERNET" />
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Car"
            android:label="@string/title_activity_car"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LivingRoom"
            android:label="@string/title_activity_living_room"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Kitchen"
            android:label="@string/title_activity_kitchen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Garage"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Temperature"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Weather"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Remove_Items"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Add_Items"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>